<section>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="searchForm.valid && onGetRecipes()"
  >
    <input
      class="search-input"
      placeholder="Search for a recipe..."
      type="text"
      formControlName="recipe"
    />
    <button type="submit">Search</button>
  </form>
  <ul *ngIf="recipes$ | async as recipes" class="recipes-list">
    <li *ngFor="let recipe of recipes[arrPos]?.hits.slice(start, end)">
      <recipe-item [recipe]="recipe.recipe"></recipe-item>
    </li>

    <button
      *ngIf="end !== 20 && recipes[0].count > 0"
      (click)="showMoreRecipes()"
    >
      Show more recipes
    </button>
    <button *ngIf="canLoadNext" (click)="loadNextPage()">Load next page</button>
    <button *ngIf="arrPos > 0" (click)="showPreviousPage()">Back</button>
    <button
      *ngIf="totalPages > 0 && arrPos !== totalPages"
      (click)="showNextPage()"
    >
      Next
    </button>
  </ul>
</section>
