<section>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="searchForm.valid && onGetRecipes()"
  >
    <input
      class="search-input"
      placeholder="Search for a recipe..."
      type="text"
      formControlName="recipe"
    />
    <app-button
      [config]="{
        type: 'submit',
        matType: 'mat-raised-button',
        color: 'primary',
        ariaLabel: 'Recipe search button',
        text: 'Search',
        style: 'position:relative;left:-78px;top:-1px;'
      }"
      [disabled]="!searchForm.valid"
    >
    </app-button>
  </form>
  <ul *ngIf="recipes$ | async as recipes" class="recipes-list">
    <li data-aos="zoom-in" *ngFor="let recipe of recipes[arrPos]?.hits">
      <recipe-item [recipe]="recipe.recipe"></recipe-item>
    </li>

    <div class="recipe-buttons">
      <app-button
        [config]="{
          type: 'button',
          matType: 'mat-raised-button',
          color: 'secondary',
          ariaLabel: 'Load next page button',
          text: 'Load Next Page',
          style: 'z-index: 1',
          class: 'loadNext'
        }"
        *ngIf="nextPageUrl"
        (click)="loadNextPage()"
      ></app-button>
      <div class="buttons-navigation">
        <app-button
          [config]="{
            type: 'button',
            matType: 'mat-raised-button',
            color: 'secondary',
            ariaLabel: 'Show next page button',
            icon: 'keyboard_arrow_left',
            style: 'float: left;',
            class: 'indicators'
          }"
          *ngIf="arrPos > 0"
          (click)="showPreviousPage()"
        >
        </app-button>
        <app-button
          [config]="{
            type: 'button',
            matType: 'mat-raised-button',
            color: 'secondary',
            ariaLabel: 'Show next page button',
            icon: 'keyboard_arrow_right',
            style: 'float: right;',
            class: 'indicators'
          }"
          *ngIf="totalPages > 0 && arrPos !== totalPages"
          (click)="showNextPage()"
        >
          Next
        </app-button>
      </div>
    </div>
    <div *ngIf="recipes[0].count === 0">
      No results found, please try another search term
    </div>
  </ul>
</section>
